
body{
    background: var(--text);
}

header{
    width: 100%;
    background: var(--pure);
    .mainheader{
        width: 100%;
        //height: 100px;
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            img{
                width: 100px;
            }
        }
        .navbar{
            height: 100%;
            ul{
                height: 100%;
                display: flex;
                gap: 2rem;
                font-size: 20px;
                li{
                    display: grid;
                    place-items: center;
                    color: var(--text);
                    a{
                        text-decoration: none;
                        color: var(--text);
                        transition: 0.3s;
                        &:hover{
                            color: var(--primary);
                        }
                    }
                }
            }
        }
        .buttons{
            height: 100%;
            gap: 1rem;
            .icones{
                gap: 1rem;
            }
        }
        .flexnav{
            gap: 4rem;
        }
    }
}

.hero{
    //background: #fff;
    background-image: linear-gradient(#ffffff, #EFEBE3);
    padding: 0;
    padding-top: 90px;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0;
        .textTop{
            max-width: 830px;
            margin: 0 auto;
            text-align: center;
            h1{
                font-size: 58px;
                color: var(--text);
                span{
                    color: var(--primary);
                }
            }
        }
        .image{
            display: flex;
            justify-content: center;
            align-items: end;
            img{
                width: 100%;
            }
        }
    }
}

.servs{
    padding: 140px 0;
    background: var(--pure);
    h2{
        font-size: 36px;
        color: var(--primary);
    }
    .services{
        gap: 2rem;
        .service{
            max-width: 424px;
            padding: 32px;
            background: var(--secondary);
            display: grid;
            gap: 1rem;
            place-items: center;
            text-align: center;
            border-radius: 25px;
            .icon{
                width: 150px;
                height: 150px;
                padding: 2rem;
                background: var(--pure);
                border-radius: 50%;
                display: grid;
                place-items: center;
                img{
                    width: 100%;
                }
            }
        }
    }
}

.popProducts{
    background: var(--secondary);
    padding: 140px 0;
    .container{
        padding: 0;
    }
    .prodBox{
        width: 100%;
        display: flex;
        gap: 1.6rem;
        .discount{
            position: relative;
            padding: 50px 2rem;
            width: 424px;
            height: 400px;
            background-image: linear-gradient(130deg,var(--primary), var(--secondary));
            border-radius: 20px;
            h2{
                font-size: 32px;
                color: var(--pure);
            }
            p{
                font-size: 16px;
                margin: 1rem 0;
            }
            button{
                background: var(--pure);
                outline: none;
                border: none;
                padding: 0.5rem 1.5rem;
                border-radius: 5px;
                font-size: 20px;
                margin-top: 1rem;
            }
            img{
                position: absolute;
                bottom: 0;
                right: 1rem;
            }
        }
        .otherProds{
            width: 882px;
            display: flex;
            flex-wrap: wrap;
            gap: 23px;
            .prod{
                //width: 275px;
                flex:1;
                background: var(--pure);
                border-radius: 10px;
                padding: 1rem;
                display: flex;
                gap: 1rem;
                .img{
                    width: 86px;
                    height: 86px;
                    background: var(--secondary);
                    padding: 8px;
                    border-radius: 10px;
                    img{
                        width: 100%;
                    }
                }
                .text{
                    .icn{
                        width: 100%;
                        //padding: .4rem 0;
                        display: flex;
                        gap: 0.5rem;
                        align-items: center;
                        img{
                            width: 18px;
                            height: 18px;
                        }
                        p{
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}