
body{
    //background: var(--text);
}

header{
    width: 100%;
    background: var(--pure);
    .mainheader{
        width: 100%;
        //height: 100px;
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            img{
                width: 100px;
            }
        }
        .navbar{
            height: 100%;
            ul{
                height: 100%;
                display: flex;
                gap: 2rem;
                font-size: 20px;
                li{
                    display: grid;
                    place-items: center;
                    color: var(--text);
                    a{
                        text-decoration: none;
                        color: var(--text);
                        transition: 0.3s;
                        &:hover{
                            color: var(--primary);
                        }
                    }
                }
            }
        }
        .buttons{
            height: 100%;
            gap: 1rem;
            .icones{
                gap: 1rem;
            }
        }
        .flexnav{
            gap: 4rem;
        }
    }
}

.hero{
    //background: #fff;
    background-image: linear-gradient(#ffffff, #EFEBE3);
    padding: 0;
    padding-top: 90px;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0;
        .textTop{
            max-width: 830px;
            margin: 0 auto;
            text-align: center;
            h1{
                font-size: 58px;
                color: var(--text);
                span{
                    color: var(--primary);
                }
            }
        }
        .image{
            display: flex;
            justify-content: center;
            align-items: end;
            img{
                width: 100%;
            }
        }
    }
}

.servs{
    padding: 140px 0;
    background: var(--pure);
    h2{
        font-size: 36px;
        color: var(--primary);
    }
    .services{
        gap: 2rem;
        .service{
            max-width: 424px;
            padding: 32px;
            flex: 1;
            background: var(--secondary);
            display: grid;
            gap: 1rem;
            place-items: center;
            text-align: center;
            border-radius: 25px;
            .icon{
                width: 150px;
                height: 150px;
                padding: 2rem;
                background: var(--pure);
                border-radius: 50%;
                display: grid;
                place-items: center;
                img{
                    width: 100%;
                }
            }
        }
    }
}

.popProducts{
    background: var(--secondary);
    padding: 140px 0;
    .container{
        padding: 0;
    }
    .prodBox{
        width: 100%;
        display: flex;
        gap: 1.6rem;
        .discount{
            position: relative;
            padding: 50px 2rem;
            width: 424px;
            height: 400px;
            background-image: linear-gradient(130deg,var(--primary), var(--secondary));
            border-radius: 20px;
            h2{
                font-size: 32px;
                color: var(--pure);
            }
            p{
                font-size: 16px;
                margin: 1rem 0;
            }
            button{
                background: var(--pure);
                outline: none;
                border: none;
                padding: 0.5rem 1.5rem;
                border-radius: 5px;
                font-size: 20px;
                margin-top: 1rem;
            }
            img{
                position: absolute;
                bottom: 0;
                right: 1rem;
            }
        }
        .otherProds{
            width: 882px;
            display: flex;
            flex-wrap: wrap;
            gap: 23px;
            .prod{
                //width: 275px;
                flex:1;
                background: var(--pure);
                border-radius: 10px;
                padding: 1rem;
                display: flex;
                gap: 1rem;
                .img{
                    width: 86px;
                    height: 86px;
                    background: var(--secondary);
                    padding: 8px;
                    border-radius: 10px;
                    img{
                        width: 100%;
                    }
                }
                .text{
                    .icn{
                        width: 100%;
                        //padding: .4rem 0;
                        display: flex;
                        gap: 0.5rem;
                        align-items: center;
                        img{
                            width: 18px;
                            height: 18px;
                        }
                        p{
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}

.arrival{
    background: var(--pure);
    padding: 140px 0;
    .arrNoffer{
        display: flex;
        gap: 20px;
        .left{
            width: 60%;
            border-radius: 30px;
            background: #115414;
            padding: 1.4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .img img{
                width: 100%;
            }
            .text{
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                justify-content: center;
                align-items: flex-start;
                h2{
                    font-size: 40px;
                    color: var(--pure);
                }
                button{
                    width: 100%;
                    background: #63B76D;
                    color: var(--pure);
                    outline: none;
                    border: none;
                    padding: 0.5rem 1.5rem;
                    border-radius: 5px;
                    font-size: 20px;
                }
            }
        }
        .right{
            width: 50%;
            border-radius: 30px;
            background: #102861;
            padding: 1.4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .img img{
                width: 100%;
            }
            .text{
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                justify-content: center;
                align-items: flex-start;
                h2{
                    font-size: 40px;
                    color: var(--pure);
                }
                button{
                    width: 100%;
                    background: #2A4D97;
                    color: var(--pure);
                    outline: none;
                    border: none;
                    padding: 0.5rem 1.5rem;
                    border-radius: 5px;
                    font-size: 20px;
                }
            }
        }
    }
}

.main-footer{
    background: var(--primary);
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 300px;
    .subsSecction{
        position: absolute;
        top: -300px;
        left: 50%;
        transform: translateX(-50%);
        background: var(--secondary);
        max-width: 1320px;
        width: 100%;
        padding:54px 100px ;
        display: flex;
        margin: 0 auto;
        border-radius: 25px;
        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            input{
                width: 100%;
                padding: 0.7rem;
                border: none;
                border-radius: 5px;
                outline: none;
            }
        }
        .img img{
            width: 100%;
        }
    }
    .footer{
        padding-top: 15rem;
        padding-bottom: 5rem;
        h1{
            margin-bottom: 2rem;
        }
        .footerContainer{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            color: var(--pure);
            .footerLogo{
                img{
                    width: 150px;
                    margin-bottom: 2rem;
                }
                p{
                    max-width: 400px;
                }
            }
            .footerLinks{
                ul{
                    li{
                        a{
                            color: var(--pure);
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.logInPage{
    width: 100%;
    height: 80dvh;
    background-image: url(/loginBg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 140px 0;
    .backgrd{
        width: 100%;
        height: 80dvh;
        background-image: linear-gradient(transparent, var(--pure), var(--pure));
    }
    .logIn{
        
        .logInContainer{
            text-align: center;
            h1{
                font-size: 36px;
                color: var(--text);
            }
            p{
                font-size: 16px;
                color: var(--text);
                margin: 0;
                span{
                    color: var(--primary);
                }
                margin-bottom: 2rem;
            }
            .formSection{
                max-width: 550px;
                padding: 2rem;
                margin: 0 auto;
                background: var(--pure);
                //backdrop-filter: blur(10px);
                .input{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: .7rem;
                    margin-bottom: 1.4rem;
                    input{
                        width: 100%;
                        padding: 1rem;
                        border: none;
                        border: 1px solid rgb(212, 212, 212);
                        border-radius: 6px;
                        outline: none;
                    }
                }
                .check{
                    width: 100%;
                    height: 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .opt{
                        display: flex;
                        gap: .5rem;
                    }
                    p{
                        margin: 0;
                    }
                }
                .btn{
                    width: 100%;
                    margin-top: 2.4rem;
                }
            }
        }
    }
}


.allProductPage{
    .mainProducts{
        padding: 140px 0;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        margin: 0 auto;
        align-items:normal;
        justify-content: center;
        .prod{
            max-width: 300px;
            border-radius: 6px;
            padding: 1rem;
            background: var(--pure);
             box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
             transition: box-shadow 0.3s ease;
             &:hover {
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
             }
             .img{
                 width: 100%;
                 img{
                     width: 100%;
                     border-radius: 6px;
                 }
             }
             .text{
                margin-top: 1rem;
                .title{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .rating{
                        width: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: .3rem;
                        img{
                            width: 15px;
                        }
                    }
                }
                .priceNnane{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: .7rem;
                    h5 span{
                        color: var(--primary);
                    }
                }
                .button{
                    width: 100%;
                    margin-top: 1rem;
                    button{
                        width: 100%;
                    }
                }
             }
        }
    }
}

.serviceInDetail, .faq{
    padding: 140px 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .subTitle{
        gap: .5rem;
        align-items: center;
        justify-content: flex-start;
    }
    .title{
        h1{
            font-size: 36px;
            color: var(--primary);
            letter-spacing: 6px;
        }
    }
    .pText{
        width: 100%;
        gap: 2rem;
        flex-wrap: wrap;
        p{
            max-width: 47%;
        }
    }
    .image{
        width: 100%;
        height: 350px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 25px;
        }
    }
}

.faq{
    width: 100%;
    background: var(--secondary);
    .container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .faqSec{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 2rem;
            gap: 2rem;
            .mainFaq{
                max-width: 600px;
            }
            .mainFaq{
                .faqContent{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .faqItem{
                        width:550px;
                        //background: var(--pure);
                        //padding: 1rem;
                        &:first-child{
                            .answer{
                                display: block;
                            }
                        }
                        .question{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 1rem;
                            padding: 1rem .6rem;
                            background: #dbf28a;
                            border-radius: 15px;
                            color: var(--text);
                            letter-spacing: 2px;
                            cursor: pointer;
                            transition: all .3s ease;
                            svg{
                                width:25px;
                                height: auto;
                                cursor: pointer;
                                transition: all .3s ease;
                            }
                        }
                        .answer{
                            display: none;
                            padding: 1rem .6rem;
                        }
                        .answerN{
                            display: block;
                        }
                    }
                }
            }
        }
        .image{
            max-width: 500px;
            height: 650px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 25px;
            }
        }
    }
}