
.navIcnM{
    display: none;
}


@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  header .mainheader{
    padding: 2rem 15px;
  }
  header .mainheader .flexnav {
    display: none;
  }
  .navIcnM{
    display: block;
  }

  .hero {
    padding-top: 40px;
  }
  .hero .container {
    padding: 2rem;
    padding-bottom: 0;
  }
  .hero .container .textTop h1 {
    font-size: 38px;
  }
  .servs {
    padding: 90px 0;
  }
  .servs h2 {
    font-size: 32px;
  }
  .servs .services {
    flex-wrap: wrap;
  }
  .servs .services .service {
    max-width: 100%;
    //margin-bottom: 30px;
  }
  .popProducts{
    padding: 90px 0;
  }
  .popProducts .container {
    padding: 2rem;
  }
  .popProducts .prodBox {
    flex-wrap: wrap;
  }
  .popProducts .prodBox .discount {
    width: 100%;
    height: 400px;
  }
  .arrival{
    padding: 90px 0;
  }
  .arrival .arrNoffer {
    flex-wrap: wrap;
  }
  .arrival .arrNoffer .left, .arrival .arrNoffer .right {
    width: 100%;
  }
  .main-footer{
    margin-top: 250px;
  }
  .main-footer .subsSecction {
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1320px;
    width: 80%;
    padding: 54px 15px;
    align-items: center;
    justify-content: space-between;
    .text {
        h1{
            font-size: 22px;
        }
    }
  }
  .serviceInDetail, .faq {
    padding: 90px 0;
  }
  .faq .container .faqSec .mainFaq .faqContent .faqItem {
    width: 100%;
  }
  .pricingSec {
    padding: 40px 0;
  }
  .pricingSec .container {
    flex-wrap: wrap;
  }
  .serviceInDetail .pText p, .faq .pText p {
    max-width: 100%;
  }
  .formSection.container{
    padding: 90px 25px;
  }
  .formSection .text{
    margin-bottom: 2rem;
  }
}