@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
body {
  font-family: "Sora", serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  text-transform: capitalize;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

:root {
  --primary: #179800;
  --secondary: #EFEBE3;
  --text: #111111;
  --pure: #fff;
}

.active {
  color: var(--primary);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
}

.flex-cn {
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.btn-p {
  background: var(--primary);
  color: var(--secondary);
  border: 1px solid transparent;
  transition: 0.3s;
  font-size: 18px;
}
.btn-p:hover {
  background: transparent;
  color: var(--primary);
  border-color: var(--primary);
}
.btn-p:hover a {
  color: inherit;
}

.btn-s {
  background: transparent;
  color: var(--text);
  color: var(--primary);
  border: 1px solid var(--primary);
  transition: 0.3s;
  font-size: 18px;
}
.btn-s:hover {
  background: var(--primary);
  color: var(--secondary);
  border-color: transparent;
}
.btn-s:hover a {
  color: inherit;
}

.heading-min {
  font-size: 36px;
  color: var(--primary);
  margin-bottom: 48px;
}

header {
  width: 100%;
  background: var(--pure);
}
header .mainheader {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .mainheader .logo img {
  width: 100px;
}
header .mainheader .navbar {
  height: 100%;
}
header .mainheader .navbar ul {
  height: 100%;
  display: flex;
  gap: 2rem;
  font-size: 20px;
}
header .mainheader .navbar ul li {
  display: grid;
  place-items: center;
  color: var(--text);
}
header .mainheader .navbar ul li a {
  text-decoration: none;
  color: var(--text);
  transition: 0.3s;
}
header .mainheader .navbar ul li a:hover {
  color: var(--primary);
}
header .mainheader .buttons {
  height: 100%;
  gap: 1rem;
}
header .mainheader .buttons .icones {
  gap: 1rem;
}
header .mainheader .flexnav {
  gap: 4rem;
}

.hero {
  background-image: linear-gradient(#ffffff, #EFEBE3);
  padding: 0;
  padding-top: 90px;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}
.hero .container .textTop {
  max-width: 830px;
  margin: 0 auto;
  text-align: center;
}
.hero .container .textTop h1 {
  font-size: 58px;
  color: var(--text);
}
.hero .container .textTop h1 span {
  color: var(--primary);
}
.hero .container .image {
  display: flex;
  justify-content: center;
  align-items: end;
}
.hero .container .image img {
  width: 100%;
}

.servs {
  padding: 140px 0;
  background: var(--pure);
}
.servs h2 {
  font-size: 36px;
  color: var(--primary);
}
.servs .services {
  gap: 2rem;
}
.servs .services .service {
  max-width: 424px;
  padding: 32px;
  background: var(--secondary);
  display: grid;
  gap: 1rem;
  place-items: center;
  text-align: center;
  border-radius: 25px;
}
.servs .services .service .icon {
  width: 150px;
  height: 150px;
  padding: 2rem;
  background: var(--pure);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.servs .services .service .icon img {
  width: 100%;
}

.popProducts {
  background: var(--secondary);
  padding: 140px 0;
}
.popProducts .container {
  padding: 0;
}
.popProducts .prodBox {
  width: 100%;
  display: flex;
  gap: 1.6rem;
}
.popProducts .prodBox .discount {
  position: relative;
  padding: 50px 2rem;
  width: 424px;
  height: 400px;
  background-image: linear-gradient(130deg, var(--primary), var(--secondary));
  border-radius: 20px;
}
.popProducts .prodBox .discount h2 {
  font-size: 32px;
  color: var(--pure);
}
.popProducts .prodBox .discount p {
  font-size: 16px;
  margin: 1rem 0;
}
.popProducts .prodBox .discount button {
  background: var(--pure);
  outline: none;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 1rem;
}
.popProducts .prodBox .discount img {
  position: absolute;
  bottom: 0;
  right: 1rem;
}
.popProducts .prodBox .otherProds {
  width: 882px;
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}
.popProducts .prodBox .otherProds .prod {
  flex: 1;
  background: var(--pure);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.popProducts .prodBox .otherProds .prod .img {
  width: 86px;
  height: 86px;
  background: var(--secondary);
  padding: 8px;
  border-radius: 10px;
}
.popProducts .prodBox .otherProds .prod .img img {
  width: 100%;
}
.popProducts .prodBox .otherProds .prod .text .icn {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.popProducts .prodBox .otherProds .prod .text .icn img {
  width: 18px;
  height: 18px;
}
.popProducts .prodBox .otherProds .prod .text .icn p {
  margin: 0;
  padding: 0;
}

.arrival {
  background: var(--pure);
  padding: 140px 0;
}
.arrival .arrNoffer {
  display: flex;
  gap: 20px;
}
.arrival .arrNoffer .left {
  width: 60%;
  border-radius: 30px;
  background: #115414;
  padding: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrival .arrNoffer .left .img img {
  width: 100%;
}
.arrival .arrNoffer .left .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}
.arrival .arrNoffer .left .text h2 {
  font-size: 40px;
  color: var(--pure);
}
.arrival .arrNoffer .left .text button {
  width: 100%;
  background: #63B76D;
  color: var(--pure);
  outline: none;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 20px;
}
.arrival .arrNoffer .right {
  width: 50%;
  border-radius: 30px;
  background: #102861;
  padding: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrival .arrNoffer .right .img img {
  width: 100%;
}
.arrival .arrNoffer .right .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}
.arrival .arrNoffer .right .text h2 {
  font-size: 40px;
  color: var(--pure);
}
.arrival .arrNoffer .right .text button {
  width: 100%;
  background: #2A4D97;
  color: var(--pure);
  outline: none;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 20px;
}

.main-footer {
  background: var(--primary);
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 300px;
}
.main-footer .subsSecction {
  position: absolute;
  top: -300px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--secondary);
  max-width: 1320px;
  width: 100%;
  padding: 54px 100px;
  display: flex;
  margin: 0 auto;
  border-radius: 25px;
}
.main-footer .subsSecction .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main-footer .subsSecction .text input {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  outline: none;
}
.main-footer .subsSecction .img img {
  width: 100%;
}
.main-footer .footer {
  padding-top: 15rem;
  padding-bottom: 5rem;
}
.main-footer .footer h1 {
  margin-bottom: 2rem;
}
.main-footer .footer .footerContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--pure);
}
.main-footer .footer .footerContainer .footerLogo img {
  width: 150px;
  margin-bottom: 2rem;
}
.main-footer .footer .footerContainer .footerLogo p {
  max-width: 400px;
}
.main-footer .footer .footerContainer .footerLinks ul li a {
  color: var(--pure);
  text-decoration: none;
}

.logInPage {
  width: 100%;
  height: 80dvh;
  background-image: url(/loginBg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 140px 0;
}
.logInPage .backgrd {
  width: 100%;
  height: 80dvh;
  background-image: linear-gradient(transparent, var(--pure), var(--pure));
}
.logInPage .logIn .logInContainer {
  text-align: center;
}
.logInPage .logIn .logInContainer h1 {
  font-size: 36px;
  color: var(--text);
}
.logInPage .logIn .logInContainer p {
  font-size: 16px;
  color: var(--text);
  margin: 0;
  margin-bottom: 2rem;
}
.logInPage .logIn .logInContainer p span {
  color: var(--primary);
}
.logInPage .logIn .logInContainer .formSection {
  max-width: 550px;
  padding: 2rem;
  margin: 0 auto;
  background: var(--pure);
}
.logInPage .logIn .logInContainer .formSection .input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
  margin-bottom: 1.4rem;
}
.logInPage .logIn .logInContainer .formSection .input input {
  width: 100%;
  padding: 1rem;
  border: none;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 6px;
  outline: none;
}
.logInPage .logIn .logInContainer .formSection .check {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logInPage .logIn .logInContainer .formSection .check .opt {
  display: flex;
  gap: 0.5rem;
}
.logInPage .logIn .logInContainer .formSection .check p {
  margin: 0;
}
.logInPage .logIn .logInContainer .formSection .btn {
  width: 100%;
  margin-top: 2.4rem;
}

.navIcnM {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  header .mainheader {
    padding: 2rem 15px;
  }
  header .mainheader .flexnav {
    display: none;
  }
  .navIcnM {
    display: block;
  }
  .hero {
    padding-top: 40px;
  }
  .hero .container {
    padding: 2rem;
    padding-bottom: 0;
  }
  .hero .container .textTop h1 {
    font-size: 38px;
  }
  .servs {
    padding: 90px 0;
  }
  .servs h2 {
    font-size: 32px;
  }
  .servs .services {
    flex-wrap: wrap;
  }
  .servs .services .service {
    max-width: 100%;
  }
  .popProducts {
    padding: 90px 0;
  }
  .popProducts .container {
    padding: 2rem;
  }
  .popProducts .prodBox {
    flex-wrap: wrap;
  }
  .popProducts .prodBox .discount {
    width: 100%;
    height: 400px;
  }
  .arrival {
    padding: 90px 0;
  }
  .arrival .arrNoffer {
    flex-wrap: wrap;
  }
  .arrival .arrNoffer .left, .arrival .arrNoffer .right {
    width: 100%;
  }
  .main-footer {
    margin-top: 250px;
  }
  .main-footer .subsSecction {
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1320px;
    width: 80%;
    padding: 54px 15px;
    align-items: center;
    justify-content: space-between;
  }
  .main-footer .subsSecction .text h1 {
    font-size: 22px;
  }
}/*# sourceMappingURL=index.css.map */