@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
body {
  font-family: "Sora", serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  text-transform: capitalize;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

:root {
  --primary: #179800;
  --secondary: #EFEBE3;
  --text: #111111;
  --pure: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
}

.flex-cn {
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.btn-p {
  background: var(--primary);
  color: var(--secondary);
  border: 1px solid transparent;
  transition: 0.3s;
  font-size: 18px;
}
.btn-p:hover {
  background: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

.btn-s {
  background: transparent;
  color: var(--text);
  color: var(--primary);
  border: 1px solid var(--primary);
  transition: 0.3s;
  font-size: 18px;
}
.btn-s:hover {
  background: var(--primary);
  color: var(--secondary);
  border-color: transparent;
}

.heading-min {
  font-size: 36px;
  color: var(--primary);
  margin-bottom: 48px;
}

body {
  background: var(--text);
}

header {
  width: 100%;
  background: var(--pure);
}
header .mainheader {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .mainheader .logo img {
  width: 100px;
}
header .mainheader .navbar {
  height: 100%;
}
header .mainheader .navbar ul {
  height: 100%;
  display: flex;
  gap: 2rem;
  font-size: 20px;
}
header .mainheader .navbar ul li {
  display: grid;
  place-items: center;
  color: var(--text);
}
header .mainheader .navbar ul li a {
  text-decoration: none;
  color: var(--text);
  transition: 0.3s;
}
header .mainheader .navbar ul li a:hover {
  color: var(--primary);
}
header .mainheader .buttons {
  height: 100%;
  gap: 1rem;
}
header .mainheader .buttons .icones {
  gap: 1rem;
}
header .mainheader .flexnav {
  gap: 4rem;
}

.hero {
  background-image: linear-gradient(#ffffff, #EFEBE3);
  padding: 0;
  padding-top: 90px;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}
.hero .container .textTop {
  max-width: 830px;
  margin: 0 auto;
  text-align: center;
}
.hero .container .textTop h1 {
  font-size: 58px;
  color: var(--text);
}
.hero .container .textTop h1 span {
  color: var(--primary);
}
.hero .container .image {
  display: flex;
  justify-content: center;
  align-items: end;
}
.hero .container .image img {
  width: 100%;
}

.servs {
  padding: 140px 0;
  background: var(--pure);
}
.servs h2 {
  font-size: 36px;
  color: var(--primary);
}
.servs .services {
  gap: 2rem;
}
.servs .services .service {
  max-width: 424px;
  padding: 32px;
  background: var(--secondary);
  display: grid;
  gap: 1rem;
  place-items: center;
  text-align: center;
  border-radius: 25px;
}
.servs .services .service .icon {
  width: 150px;
  height: 150px;
  padding: 2rem;
  background: var(--pure);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.servs .services .service .icon img {
  width: 100%;
}

.popProducts {
  background: var(--secondary);
  padding: 140px 0;
}
.popProducts .container {
  padding: 0;
}
.popProducts .prodBox {
  width: 100%;
  display: flex;
  gap: 1.6rem;
}
.popProducts .prodBox .discount {
  position: relative;
  padding: 50px 2rem;
  width: 424px;
  height: 400px;
  background-image: linear-gradient(130deg, var(--primary), var(--secondary));
  border-radius: 20px;
}
.popProducts .prodBox .discount h2 {
  font-size: 32px;
  color: var(--pure);
}
.popProducts .prodBox .discount p {
  font-size: 16px;
  margin: 1rem 0;
}
.popProducts .prodBox .discount button {
  background: var(--pure);
  outline: none;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 1rem;
}
.popProducts .prodBox .discount img {
  position: absolute;
  bottom: 0;
  right: 1rem;
}
.popProducts .prodBox .otherProds {
  width: 882px;
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}
.popProducts .prodBox .otherProds .prod {
  flex: 1;
  background: var(--pure);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.popProducts .prodBox .otherProds .prod .img {
  width: 86px;
  height: 86px;
  background: var(--secondary);
  padding: 8px;
  border-radius: 10px;
}
.popProducts .prodBox .otherProds .prod .img img {
  width: 100%;
}
.popProducts .prodBox .otherProds .prod .text .icn {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.popProducts .prodBox .otherProds .prod .text .icn img {
  width: 18px;
  height: 18px;
}
.popProducts .prodBox .otherProds .prod .text .icn p {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=index.css.map */